@font-face {
  font-family:Comic-Sans;
  src: url(comic.ttf);
}
@font-face {
  font-family:Christmas Font;
  src: url(Christmas\ Okinawa.otf);
}
body {
  text-align: center;
  background-image: url(christmas-background.png);
  background-size: cover;
}
.calendar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 50%;
  text-align: center;
  margin: auto;
  font-family: "Comic-Sans";
  font-size: 20px;
}
.day {
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 100px;
  cursor: pointer;
  text-align: center;
  background-image: url(freshly-fallen-soft-snow-surface.png);
}

.calendar div:hover{
    transform: scale(1.2);
}

h1 {
  color: #ccc;
  font-family: 'Christmas Font';
  font-size: 2vw;
}
@media screen and (max-width: 1600px) {
  h1 {
    font-size: 32px;
  }
  .calendar{
    font-size: 18px;
  }
  .calendar{
    width: 90%;
    grid-template-columns: 3, 1fr;
  }
}
@media screen and (max-width: 800px){
  .calendar{
    font-size: 12px;
  }
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}